<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//com.xtzyjsxy.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置多个连接数据库的环境
        default：默认连接的数据库的id
    -->
   
    <properties resource="jdbc.properties"/>

    <typeAliases>
        <typeAlias type="com.xtzyjsxy.mybatis.pojo.User" alias="User"></typeAlias>
    </typeAliases>

    <environments default="development">

        <!--配置某个具体的环境
            id：表示连接数据库环境的唯一标识
        -->
        <environment id="development">
            <!--设置该数据库的事务管理方式
                type:JDBC:表示当前环境执行SQL时，使用的是JDBC原生的事务管理方式，事务的提交或者回滚需要手动处理
                     MANAGED：被管理，例如Spring中的事务管理
            -->
            <transactionManager type="JDBC"/>
            <!--配置数据源
                type:POOLED：表示使用数据库连接池缓存数据库连接
                    UNPOOLED：表示不使用数据库连接池
                    JNDI：表示使用上下文中的数据源
            -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
<!--        <mapper resource="mappers/UserMapper.xml"/>-->
        <!--以包为单位引入映射文件，要求
            1、mapper接口所在的包要和映射文件所在的包一致
            2、mapper接口要和映射文件的名字一致
        -->
        <package name="com.xtzyjsxy.mybatis.mapper"/>

    </mappers>
</configuration>
