<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//com.xtzyjsxy.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtzyjsxy.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,#{username},#{password},#{age},#{sex},#{email})
    </insert>

    <!--getUserById-->
    <!--查询功能的标签必须设置resultType或者resultMap
        resultType：设置默认的映射关系
        resultMap：设置自定义的映射关系
    -->
    <select id="getUserById" resultType="User">
        <!--select * from t_user where id = #{aaa}-->
        select * from t_user where id = '${aaa}'
    </select>

    <!--getAllUser-->
    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>

    <!--chekLogin(String username,String password)-->
    <select id="checkLogin" resultType="user">
    <!--select * from t_user where username=#{arg0} and password =#{arg1}-->
        select * from t_user where username='${arg0}' and password='${arg1}'
    </select>

    <select id="checkLoginByMap" resultType="user">
        <!--select * from t_user where username='${username}' and password='${password}'-->
        select * from t_user where username=#{username} and password=#{password}
    </select>

    <select id="checkLoginByParam" resultType="user">
        select * from t_user where username=#{username} and password=#{password}
    </select>

    <select id="getUserByIdToMap" resultType="map">
        select * from t_user where id=#{id}
    </select>
</mapper>